#container {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#image {
    width: 100%;
    height: auto;
}

#arrow {
    position: absolute;
    top: 35%;
    left: 47%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent; /* Lado izquierdo de la flecha */
    border-right: 15px solid transparent; /* Lado derecho de la flecha */
    border-bottom: 30px solid red; /* Base de la flecha */
    transform-origin: bottom center;
}
